<div class="bg-white">
  <div class="relative isolate px-6 pt-14 lg:px-8">

    <!-- Centered Content -->
    <div class="mx-auto max-w-2xl pt-4 pt-8 text-center">
      <label class="inline-flex items-center cursor-pointer">
        <input type="checkbox" class="sr-only peer" [(ngModel)]="isTextTranslation">
        <div
          class="relative w-11 h-6 bg-pink-700 peer-checked:bg-indigo-700 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all">
        </div>
        @if(isTextTranslation){
        <span class="ms-3 text-md font-normal text-indigo-700 mr-3">TEXT</span>
        }
        @else{
        <span class="ms-3 text-md font-normal text-pink-700">WORD</span>
        }
      </label>
      <!-- Input Section (static for now) -->
      <div class="mt-10">
        <label for="question" class="block mb-2 text-sm font-medium text-left text-gray-700">Gimme the
          {{isTextTranslation ? 'text' : 'word'}} to
          translate?</label>
        <input id="question" type="text" placeholder="e.g., {{isTextTranslation ? 'De mooite ward':'Geven'}}"
          [(ngModel)]="prompt" [ngClass]="{ 'invalid': questionRef.touched && questionRef.invalid }"
          #questionRef="ngModel"
          class="w-full px-4 py-3 rounded-md border bg-gray-50 placeholder-gray-400 text-indigo-950 focus:outline-none focus:ring-2 focus:ring-indigo-500"
          style="border-color: rgba(55, 48, 163, 0.19);" />
        <button class="mt-4 px-5 py-2 bg-indigo-600 text-white font-semibold rounded-lg hover:bg-indigo-700 transition"
          (click)="translate()">
          Translate
        </button>
      </div>
    </div>
    <div class="py-8 px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-7xl flex justify-center">
        <div class="bg-white border-0 rounded-2xl p-6 w-full text-center"
          style="border-color: rgba(55, 48, 163, 0.19);">
          <article class="prose max-w-none">
            <markdown class="custom-md" [data]="response()"></markdown>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
