<app-page-concept-sidebar class="w-full">
  <sidebar-menu>
    <div class="flex flex-col gap-4">
      <div class="text-left flex-1">
        <label for="CEFR" class="block mb-1 text-sm text-gray-900 font-normal">Select a
          level</label>
        <select id="CEFR" [(ngModel)]="selectedLevel" name="CEFR"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
          <option value="ALL LEVELS" selected>ALL LEVELS</option>
          @for (item of ['A1','A2','B1','B2','C1','C2']; track $index) {
          <option [value]="item">{{item}}</option>
          }
        </select>
      </div>
      <div class="text-left flex-1">
        <label for="difficulty" class="block mb-1 text-sm font-normal text-gray-900 ">Select
          difficulty</label>
        <select id="difficulty" [(ngModel)]="selectedDifficultyLevel" name="difficulty"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
          @for (item of [1,2,3,4,5,6,7,8,9,10]; track $index) {
          <option [value]="item">{{item}}</option>
          }
        </select>
      </div>
      <div class="text-left flex-1">
        <label for="book" class="block mb-1 text-sm font-normal text-gray-900">Select a
          book</label>
        <select id="book" [(ngModel)]="selectedBook" name="book"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
          <option [value]="0" selected>ALL BOOKS</option>
          @for (item of bookOptions(); track $index) {
          <option [value]="item.id">{{item.name}}</option>
          }
        </select>
      </div>
      <div class="text-left flex-1">
        <label for="wordType" class="block mb-1 text-sm font-normal text-gray-900">Quiz type</label>
        <select id="wordType" [(ngModel)]="selectedQuizType" name="wordType"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
          @for (item of ['MIXED', 'VOCABULARY', 'TRANSLATION', 'GRAMMAR']; track $index) {
          <option [value]="item">{{item}}</option>
          }
        </select>
      </div>
      <div class="text-left flex-1">
        <label for="question" class="block mb-1 text-sm font-normal text-left text-gray-900">Question Count</label>
        <input id="question" type="number" [(ngModel)]="itemCount"
          class="w-full px-4 py-2 text-sm rounded-md border bg-gray-50 placeholder-gray-400 text-indigo-950 focus:outline-none focus:ring-2 focus:ring-indigo-500"
          style="border-color: rgba(55, 48, 163, 0.19);" />
      </div>
      <div class="text-center flex-1">
        <button [appDisabledUntil]="isLoading()"
          class="w-full mt-4 px-5 py-2 bg-indigo-600 text-white font-normal rounded-lg hover:bg-indigo-700 transition"
          (click)="translate()">
          Generate Quiz
        </button>
      </div>
    </div>
  </sidebar-menu>
  <master-content>
    <article class="prose max-w-none" [appSpinUntil]="isLoading()">
      <markdown [data]="response()"></markdown>
    </article>
  </master-content>
</app-page-concept-sidebar>
